<!DOCTYPE html>
<html>
    <head>
        <!--Necessary for Flask to read an external JS file-->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='chat.js') }}"></script>
        <title>Flack</title>
    </head>

    <div>
        <h4>Welcome {{user}}!</h4>

        <form action="{{ url_for('logout') }}">
            <button>logout</button>
        </form>

        <div>
            <p>Create new channel or select existing</p>
            <form id="newChannel" method="post">
                <input id="channelInput" placeholder="create new" autocomplete="off">
                <input id="channelSubmit" type="submit">
            </form>

            <!--Lists available channels-->
            <div>
                <p>Available Channels</p>
                <div id="channelList"></div>
            </div>

            <!--Highlights the selected channel-->
            <p id="selectedChannel"></p>

            <!--Show the messages/chat, TODO: will add a scroll functionality to limit size-->
            <div>
                <ol id="messageList"></ol>
            </div>

            <!--Send new message button-->
            <div>
               <form id="newChat">
                   <input id="chatInput" placeholder="type a message" autocomplete="off" autofocus="on">
                   <input id="chatSubmit" type="submit" value="send">
               </form> 
            </div>

            <!--Delete account button-->
            <form action="{{ url_for('delete') }}">
                <button>Delete account</button>
            </form>

        </div>

    </div>
</html>